{:scheme         "http"
 :host           "localhost"
 :port           8080
 :core-path      "alfresco/api/-default-/public/alfresco/versions/1"
 :search-path    "alfresco/api/-default-/public/search/versions/1"
 :auth-path      "alfresco/api/-default-/public/authentication/versions/1"
 :discovery-path "alfresco/api/discovery"
 :user           "admin"
 :password       "admin"}